<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PassGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PassGen.Properties.Settings>
            <setting name="PasswordLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncludeUppercase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeLowercase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSpecialChars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludeAmbiguousChars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AvoidRepeatingChars" serializeAs="String">
                <value>False</value>
            </setting>
        </PassGen.Properties.Settings>
    </userSettings>
</configuration>